:host {
    width: 100%;
}


.contenido {
    display: block;
    min-height: calc(100vh - 60px);
    margin: 10px;
    padding-top: 20px;
    text-align: center;
    line-height: 15px;


}


.products {
    display: inline-block;
}
