<p-card> <ng-template pTemplate="header">
    <h3>
      <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
      <button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Mostrar"></button>
    </h3>
  </ng-template>
  <p *ngIf="product.description">Descripción: {{ product.description }}</p>

  <button type="button" (click)="share()">Compartir</button> <ng-template pTemplate="footer">
    <app-product-alerts [product]="product">

    </app-product-alerts> </ng-template>
</p-card>


<p-dialog header= "{{product.name}}" [(visible)]="display">
  Precio: {{product.price}}
  <img src="./assets/phones/{{product.images}}" width="100px" height="100px" alt="Sin imagen">
  <button type="button" (click)="addToCart(product)">Buy</button>

</p-dialog>



